@import 'variable';

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(90deg, rgb(89, 168, 247) 0%, $purple-color 100%);

  .auth__container__logo {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
  }

  .auth__container {
    .auth__container__card {
      width: 400px;
      height: 460px;
      border-radius: 12px;
      padding: 32px;

      .auth__container__body {
        padding: 0;
        .auth__container__body--title {
          font-weight: 700;
          font-size: 32px;
          line-height: 38.73px;
          margin-bottom: 32px;
        }
        .auth__container__body--inputs {
          margin-bottom: 32px;
          label {
            font-size: $font16;
            font-weight: 400;
            line-height: 20px;
          }
          .auth__container__body--forgot__password {
            a {
              font-weight: 600;
              font-size: $font16;
              color: $purple-color;
            }
          }
          .auth__container__body--inputs__notify {
            font-weight: 400;
            font-size: $font16;
            line-height: 28px;
            margin-bottom: 24px;
          }
        }
        .auth__container__body--action {
          .auth__container__body--action__login {
            background-color: $purple-color;
            margin-bottom: 24px;
            height: 50px;
          }
          .auth__container__body--action__auth {
            font-weight: 600;
            font-size: 16px;
            line-height: 20.08px;
            a {
              color: $purple-color;
            }
          }
        }
      }
    }

    .signup__container__card {
      min-height: 590px;
      height: auto;
    }

    .signin__container__card {
      min-height: 460px;
      height: auto;
    }

    .forgot__container__card {
      min-height: 440px;
      height: auto;
    }
  }

  .auth__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 39px;
    background-color: $purple-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-color;

    .auth__container {
      width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .auth__footer__version,
      .auth__footer__hotline {
        font-weight: 400;
        font-size: $font12;
        line-height: 14.52px;
        letter-spacing: -2%;

        span {
          font-weight: 700;
        }
      }
    }
  }
}
