<!-- Nav -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/trang-chu']">
      <img src="../assets/brand/logo.svg" class="d-inline-block align-top" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent2"
      aria-controls="navbarSupportedContent2"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/trang-chu/cac-tran-dau']"
            [routerLinkActive]="['active']"
          >
            Các trận đấu
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/trang-chu/tai-khoan']" [routerLinkActive]="['active']">Tài khoản</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/trang-chu/huong-dan']" [routerLinkActive]="['active']">Hướng dẫn</a>
        </li>
      </ul>
      <button class="btn btn-outline btn-warning" [routerLink]="['/trang-chu/tai-khoan']">
        <i class="bi bi-wallet2"></i>
        {{ balance | currency: 'VND' }}
      </button>
    </div>
  </div>
</nav>
