<div class="auth">
  <div class="auth__container">
    <div class="auth__container__logo">
      <img src="assets/icons/auth/logo.svg" alt="" srcset="" />
    </div>
    <form [formGroup]="form">
      <div class="card auth__container__card forgot__container__card">
        <div class="card-body auth__container__body">
          <div class="auth__container__body--title">Quên mật khẩu</div>
          <div class="auth__container__body--inputs">
            <div class="auth__container__body--inputs__notify">
              Vui lòng nhập địa chỉ email đã đăng kí,
              <strong>Hệ thống</strong>
              sẽ gửi email xác thực và hướng dẫn đặt lại mật khẩu.
            </div>
            <div class="mb-3">
              <label class="form-label">Email *</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="f['email'].errors && (f['email'].touched || f['email'].dirty)"
                placeholder="Email bảo mật"
                ngDefaultControl
                formControlName="email"
              />
              <div id="emailValidation" class="invalid-feedback">
                <div *ngIf="f['email']?.errors && f['email']?.errors?.['required']">
                  Vui lòng cung cấp
                  <strong>Email bảo mật</strong>
                </div>
                <div *ngIf="f['email']?.errors && f['email']?.errors?.['pattern']">
                  Vui lòng cung cấp
                  <strong>Email bảo mật</strong>
                  hợp lệ
                </div>
              </div>
            </div>
          </div>
          <div class="auth__container__body--action">
            <div class="alert alert-danger" *ngIf="errMsg">Error: {{ errMsg }}</div>
            <button
              type="button"
              class="btn btn-primary w-100 auth__container__body--action__login"
              (click)="getPassword()"
            >
              Lấy Lại Mật Khẩu
            </button>
            <div class="auth__container__body--action__auth">
              Trở lại trang
              <a routerLink="/dang-nhap">Đăng nhập</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="auth__footer">
    <div class="auth__container">
      <div class="auth__footer__version">
        Phiên bản:
        <span>1.0.0</span>
      </div>
      <div class="auth__footer__hotline">
        CSKH:
        <span>1900 9999</span>
      </div>
    </div>
  </div>
</div>
