<div class="page__container">
  <div class="page__container__breadcrumb">
    <app-breadcrumb [pages]="pages" (refreshEvent)="refresh()"></app-breadcrumb>
  </div>
  <div class="page__container__main__content">
    <div class="page__container__main__content__table">
      <app-table-action></app-table-action>
      <fluent-divider></fluent-divider>
      <div class="page__container__main__content__table__container">
        <div *ngIf="isExistDataGrid; else noRecordsFound">
          <fluent-data-grid id="defaultGrid"></fluent-data-grid>
        </div>
        <ng-template #noRecordsFound>
          <div class="page__container__main__content__table__container__no__record">No Records Found</div>
        </ng-template>
      </div>
      <fluent-divider></fluent-divider>
      <div class="page__container__main__content__table__pagination">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
  <app-betting-odds-add></app-betting-odds-add>
</div>
