<div class="page__container">
  <div class="page__container__breadcrumb">
    <app-breadcrumb [pages]="pages" (refreshEvent)="refresh()"></app-breadcrumb>
  </div>
  <div class="page__container__main__content">
    <div class="page__container__main__content__table">
      <div class="page__container__main__content__table__action">
        <div class="page__container__main__content__table__action__left">
          <div class="page__container__main__content__table__action__left__title">Kèo cá cược</div>
          <div class="page__container__main__content__table__action__left__number">(200)</div>
        </div>
        <div class="page__container__main__content__table__action__right">
          <div class="page__container__main__content__table__action__right__button">
            <button class="page__container__main__content__table__action__right__button__add">
              <img [src]="'/assets/icons/cms/add.svg'" />
              Thêm
            </button>
          </div>
          <div class="page__container__main__content__table__action__right__search">
            <fluent-text-field appearance="outline" placeholder="Tìm kiếm"></fluent-text-field>
          </div>
          <div class="page__container__main__content__table__action__right__filter">
            <img [src]="'/assets/icons/cms/filter.svg'" />
          </div>
          <div class="page__container__main__content__table__action__right__download">
            <img [src]="'/assets/icons/cms/download.svg'" />
          </div>
          <div class="page__container__main__content__table__action__right__more__action">
            <img [src]="'/assets/icons/cms/setting.svg'" />
          </div>
        </div>
      </div>
      <fluent-divider></fluent-divider>
      <div class="page__container__main__content__table__container"></div>
    </div>
  </div>
</div>
