<div class="page__container">
  <div class="page__container__breadcrumb">
    <app-breadcrumb [pages]="pages" (refreshEvent)="refresh()"></app-breadcrumb>
  </div>
  <div class="page__container__main__content">
    <div class="page__container__main__content__table">
      <app-table-action></app-table-action>
      <fluent-divider></fluent-divider>
      <div class="page__container__main__content__table__container">
        <fluent-data-grid id="defaultGrid" #defaultGrid style="overflow-y: auto"></fluent-data-grid>
      </div>
      <fluent-divider></fluent-divider>
      <div class="page__container__main__content__table__pagination"></div>
    </div>
  </div>
</div>
