<div class="d-flex flex-row justify-content-center align-items-center">
  <span class="fs-5">{{ user.username }}</span>
</div>
<div class="d-flex flex-row justify-content-center align-items-center">
  <i class="bi bi-envelope text-secondary"></i>
  <span class="mx-2">{{ user.email }}</span>
  <button type="button" class="btn btn-outline-primary border-0 btn-sm">
    <i class="bi bi-pencil-square"></i>
  </button>
</div>
<div class="d-flex flex-row justify-content-center align-items-center pb-3 border-bottom">
  <i class="bi bi-telephone text-secondary"></i>
  <span class="mx-2">{{ user.phone }}</span>
  <button type="button" class="btn btn-outline-primary border-0 btn-sm">
    <i class="bi bi-pencil-square"></i>
  </button>
</div>
