$base-padding: 16px;
$one-hundred-percent: 100%;

// Color
$gray-color: #f0f0f0;
$gray-color-2: #f5f5f5;
$blue-color: #0f6cbd;
$blue-color-2: #115ea3;
$red-color: #b10e1c;

// Font Size
$font12: 12px;
$font14: 14px;
$font16: 16px;
