<div class="signup">
  <div class="signup__container">
    <div class="signup__container__logo">
      <img src="assets/icons/auth/logo.svg" alt="" srcset="" />
    </div>
    <div class="card signup__container__card">
      <div class="card-body signup__container__body">
        <div class="signup__container__body--title">Đăng Kí</div>
        <div class="signup__container__body--inputs">
          <div class="mb-3">
            <label class="form-label">Tài khoản *</label>
            <input type="email" class="form-control" placeholder="Tên đăng nhập" />
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu *</label>
            <input type="email" class="form-control" placeholder="Mật khẩu đăng nhập" />
          </div>
          <div class="mb-3">
            <label class="form-label">Email *</label>
            <input type="email" class="form-control" placeholder="Email bảo mật" />
          </div>
          <div class="mb-3">
            <label class="form-label">Số điện thoại *</label>
            <input type="email" class="form-control" placeholder="Số điện thoại bảo mật" />
          </div>
          <div class="mb-3 signup__container__body--forgot__password">Quên mật khẩu?</div>
        </div>
        <div class="signup__container__body--action">
          <button type="button" class="btn btn-primary w-100 signup__container__body--action__login">Đăng Nhập</button>
          <div class="signup__container__body--action__signup">
            Đã có tài khoản?
            <a routerLink="/dang-nhap">Đăng nhập</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="signup__footer">
    <div class="signup__container">
      <div class="signup__footer__version">
        Phiên bản:
        <span>1.0.0</span>
      </div>
      <div class="signup__footer__hotline">
        CSKH:
        <span>1900 9999</span>
      </div>
    </div>
  </div>
</div>
