<!-- breadcrumb -->
<nav class="container-fluid py-2 border-bottom">
  <div class="container">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item"><a [routerLink]="['/trang-chu']">Trang chủ</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/trang-chu/cac-tran-dau']">Các trận đấu</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        AOE-{{ game?.planStartTime | date: 'ddMMYYYY' }}-{{ game?.id }}
      </li>
    </ol>
  </div>
</nav>

<!-- Container -->
<div class="container">
  <!-- Title -->
  <div class="row my-3">
    <!-- Col 1 -->
    <div class="col-9">
      <span class="fs-1 fw-semibold">
        <span class="text-info">{{ game?.teamOne }}</span>
        vs.
        <span class="text-danger">{{ game?.teamTwo }}</span>
      </span>
      <div class="hstack">
        <span class="text-nowrap text-truncate">
          Mô tả kèo lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.
        </span>
        <button type="button" class="btn btn-link text-nowrap">Xem thêm</button>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col-3 vstack align-self-center gap-2">
      <div class="hstack gap-2 justify-content-end">
        <i class="bi bi-calendar text-secondary"></i>
        <span>{{ game?.startTime | date: 'dd/MM/YYYY hh:mm:ss' }}</span>
        <span class="badge rounded-pill text-bg-danger">{{ game?.gameStatus }}</span>
      </div>
      <app-game-types class="hstack gap-2 justify-content-end" [types]="game?.gameTypes"></app-game-types>
    </div>
  </div>
  <div class="row">
    <div class="col col-9">
      <ng-template [ngIf]="safeSrc">
        <div class="ratio ratio-16x9">
          <iframe
            class="rounded-ro"
            [src]="safeSrc"
            title="Video Stream"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </ng-template>
    </div>
    <div class="col col-3 card p-0">
      <div class="hstack px-3 tb-cell">
        Mã trận:
        <span class="mx-1 fw-semibold text-secondary-emphasis">#AOE-{{ game?.planStartTime | date: 'ddMMYYYY' }}-{{ game?.id }}</span>
      </div>
      <!-- Teams -->
      <div class="hstack gap-2 px-2 border-top-dashed">
        <!-- Blue Team -->
        <div class="hstack gap-2 w-100 tb-cell">
          <img src="../assets/team/houston.svg" class="dimension-5" />
          <div class="vstack">
            <span class="text-info fw-bold">#1 XANH</span>
            <span>{{ game?.teamOne }}</span>
          </div>
        </div>
        <div class="vr-dashed"></div>
        <!-- Red Team -->
        <div class="hstack gap-2 w-100 tb-cell">
          <img src="../assets/team/texas.svg" class="dimension-5" />
          <div class="vstack">
            <span class="text-danger fw-bold">#2 ĐỎ</span>
            <span>{{ game?.teamTwo }}</span>
          </div>
        </div>
      </div>
      <app-round-card class="vstack" [gameId]="gameId" [game]="game"></app-round-card>
    </div>
  </div>
</div>

<!-- Section 2 -->
<div class="container pb-4 mt-4">
  <div class="hstack gap-2 py-4">
    <h2>Gợi ý</h2>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let game of incomming_games; trackBy: trackByFn">
      <app-game-card [game]="game"></app-game-card>
    </div>
  </div>
</div>
<div style="height: 60px"></div>
