<div class="loading">
  <div class="loading__container">
    <div class="loading__container__logo">
      <img src="../assets/brand/logo-purple.svg" class="d-inline-block align-top" alt="Logo" loading="lazy" />
    </div>
    <div class="loading__container__progress">
      <div class="loading__container__progress__container">
        <div class="loading__container__progress__container__percent" [style.width.%]="percent"></div>
      </div>
    </div>
    <div class="loading__container__msg">Đang tải dữ liệu, xin vui lòng chờ trong giây lát ...</div>
  </div>
</div>
