<div class="nav__header">
  <div class="nav__header__container">
    <div class="nav__header__container__title">BESO - CMS</div>
    <div class="nav__header__container_function">
      <div class="nav__header__container_function__setting">
        <img src="\assets\icons\setting.svg" alt="" />
      </div>
      <div class="nav__header__container_function__notify">
        <img src="\assets\icons\notify.svg" alt="" />
      </div>
      <div class="nav__header__container_function__user">
        <div class="nav__header__container_function__user__avatar"></div>
        <div class="nav__header__container_function__user__detail">
          <div class="nav__header__container_function__user__detail__name">User Name 01</div>
          <div class="nav__header__container_function__user__detail__role">Administrator</div>
        </div>
      </div>
    </div>
  </div>
  <fluent-divider></fluent-divider>
</div>
