@import '../../../../scss/variable';
@import '../../../../scss/common';

.signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .signin__container {
    
  }
}
