.tb-row {
  border-top: 1px dashed #dee2e6;
}

.tb-cell {
  padding: 12px 8px;
}

.border-top-dashed {
  border-top: 1px dashed #dee2e6;
}

.vr-dashed {
  border-left: 1px dashed #dee2e6;
  width: 1px;
  padding: 8px 0;
  height: 100%;
}
