<!DOCTYPE html>
<html>
<head>
    <title>Activate your account</title>
</head>
<body>
<section>
    <h1>Dear, <strong>$username</strong></h1>
    <p>Your activation code is: $activationCode. You can go to the site and input code to activate your account</p>
    <span>Or you can click&nbsp;<a href=$activationUrl>here</a>&nbsp;to activate your account automatically.</span
</section>
</body>
</html>