Dear $username,

Due to a request to reset your account password.

Your new password code is: $newPassCode
You can copy and paste this $newPassUrl your browser and activate your account automatically.
