<div class="container-fluid d-flex flex-column p-0" style="height: 88vh">
  <div class="container d-flex flex-row flex-fill my-4 border rounded shadow-sm bg-white">
    <div class="col-3 d-flex flex-column border-end" style="position: relative">
      <div
        class="d-flex flex-column pe-2"
        style="position: absolute; max-height: 100%; height: 100%; width: 100%; overflow-y: auto"
      >
        <div class="d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-person-circle" style="font-size: 48pt; color: #ced4da"></i>
        </div>

        <app-user-profile *ngIf="user$ | async as user" [user]="user"></app-user-profile>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 border-bottom">
          <div
            class="d-flex justify-content-center align-items-center rounded-circle bg-warning"
            style="width: 48px; height: 48px"
          >
            <i class="bi bi-wallet2" style="font-size: 20pt"></i>
          </div>
          <span class="figure-caption mt-2">SỐ DƯ</span>
          <span class="fs-5">{{ balance$ | async | currency: 'VND' }}</span>
          <span class="figure-caption mt-2">KHUYẾN MÃI</span>
          <span class="fs-5">₫100,000</span>
          <button type="button" class="btn btn-outline-primary btn-sm mt-2">Nạp/Rút</button>
        </div>
        <div class="list-group border-0 rounded-0 my-2">
          <a
            class="list-group-item list-group-item-action border-0 rounded-1"
            [routerLink]="['/trang-chu/tai-khoan/lich-su-giao-dich']"
            [routerLinkActive]="['active']"
          >
            Lịch sử giao dịch
          </a>
          <a
            class="list-group-item list-group-item-action border-0 rounded-1"
            [routerLink]="['/trang-chu/tai-khoan/lich-su-dat-cuoc']"
            [routerLinkActive]="['active']"
          >
            Lịch sử đặt cược
          </a>
          <a
            class="list-group-item list-group-item-action border-0 rounded-1"
            [routerLink]="['/trang-chu/tai-khoan/uu-dai']"
            [routerLinkActive]="['active']"
          >
            Ưu đãi
          </a>
        </div>
        <div class="flex-grow-1"></div>
        <div class="list-group my-2 py-2 border-top rounded-0">
          <button type="button" class="list-group-item list-group-item-action border-0 rounded-1">Đổi mật khẩu</button>
          <button type="button" class="list-group-item list-group-item-action border-0 rounded-1">Đăng xuất</button>
        </div>
      </div>
    </div>

    <div class="flex-fill">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
